@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

:root {
    --fonte-principal: "Inter";
    --cor--fonte: #ffffff;
}

* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    padding: 0 3em 0.1em;
    display: flex;
    gap: 45px;
    background-color: black;
    align-items: center;
    position: relative;
    z-index: 1;
}

.cabecalho__menu__link {
    text-decoration: none;
    color: var(--cor--fonte);
    font-family: var(--fonte-principal);
    font-weight: 400;
}

.cabecalho__pesquisa {
    font-size: var(--fonte-principal);
    font-size: 15px;
    font-weight: 400;
    width: 150px;
    height: 30px;
    align-items: center;
    margin-left: 35%;
    text-align: center;
}

.botao {
    background-color: #000000;
    border-radius: .25rem;
    box-shadow: rgb(255, 255, 255) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    margin: 0;
    min-height: 1rem;
    padding: calc(.450rem - 1px) calc(1.5rem - 1px);
    font-family: var(--fonte-principal);
}

.carrossel__img {
    display: none;
}

.principal {
    display: block;
}

.categoria__titulo {
    text-align: center;
    font-family: var(--fonte-principal);
    font-size: 32px;
    font-weight: 500;
    padding: 1em 0 0.5em 0;
}

.categoria__imagem {
   display:flex;
   margin: 30px;
   
}